# example .envrc file
# manage with direnv or load directly with source

# go
export GO111MODULE=on

# storage
export HYDRO_STORAGE_MODE=file # one of: file, fileseg
export HYDRO_FILE_STORAGE_FILEPATH=./data
export HYDRO_FILE_STORAGE_SYNC_INTERVAL=3s
export HYDRO_FILESEG_STORAGE_DIR=./fseg

# index
export HYDRO_INDEX_MODE=hash # one of: hash
export HYDRO_HASH_INDEX_RESTORE=true

# server
export HYDRO_SERVER_PORT=:8888
export HYDRO_SERVER_READ_TIMEOUT=60s
export HYDRO_SERVER_SHUTDOWN_TIMEOUT=5s