# example .envrc file
# manage with direnv or load directly with source

# go
export GO111MODULE=on
export GOMAXPROCS=2

# application
export HYDRO_LOG_LEVEL=trace # one of: trace, debug, info, error

# storage
export HYDRO_STORAGE_MODE=fileseg # one of: file, fileseg
export HYDRO_FILE_STORAGE_FILEPATH=./data
export HYDRO_FILE_STORAGE_SYNC_INTERVAL=3s
export HYDRO_FILESEG_STORAGE_DIR=./fseg
export HYDRO_FILESEG_STORAGE_SEGMENT_SIZE=100

# index
export HYDRO_INDEX_MODE=hash # one of: hash

# server
export HYDRO_SERVER_PORT=:8888
export HYDRO_SERVER_READ_TIMEOUT=60s
export HYDRO_SERVER_SHUTDOWN_TIMEOUT=1s